* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}

li,
p,
a,
span,
div,
button {
    font-family: Arial,Helvetica,"宋体",sans-serif;
    color: #999;
    font-size: 12px;
}
.w {
    margin: 0 auto;
    width: 970px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
